---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@font-face {
  font-family: "Phosphate Inline";
  src: url("/assets/fonts/Phosphate\ Inline\ font.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("/assets/fonts/Montserrat-Regular.ttf");
}

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$dark-brown: #3C2415;
$background-brown: #603913;
$light-brown: #8E6A2C;
$font-brown: #C49A6C;
$water-blue: #231F20;
$tree-green: #026735;

body {
  font-family: "Montserrat Regular";
}

// Import partials.
@import "footer", "header", "episode";


